@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.swingingButton {
  height: 100vh;
  display: flex;
  align-items: center;
}
h2 {
  color: white;
  font-size: 32px;
  font-weight: 800;
}
/*ARTICLE*/
.leftSide,
.rightSide {
  height: 220px;
  padding: 10px;
  display: flex;
  transition: 500ms;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.leftSide {
  flex: 1;
  border-radius: 0 300px 300px 0;
  margin-right: 25px;
  background: center/cover url("./assets/img/bgManga.png");
}
.rightSide {
  flex: 1;
  border-radius: 300px 0 0 300px;
  margin-left: 25px;
  background: center/cover url("./assets/img/bgAnime.png");
}
/*WHITE CIRLCE*/
.round {
  background-color: snow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
/*TEXT & ICON*/
.displayFuild {
  z-index: 2;
}
/*CLASS FOR JS*/
.flexThree {
  flex: 3;
}
